@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css	");

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
	  height:100%;
}
body {
  margin: 0; height:100%;
}

.ui-sortable tr:hover {
	cursor: move;
}
.ui-sortable tr.alternate {
	background-color: #F9F9F9;	
}
.ui-sortable tr.ui-sortable-helper {
	background-color: #F9F9F9;
	border-top: 1px solid #DFDFDF;
}

/*Display CSS*/

h1, h2, h3{ color:#337AB7  }
#successmeg{color: #155724; background-color: #d4edda;  position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem; border:solid 1px #c3e6cb; border-radius: .25rem; min-width: 578px; display: inline-block;}
#successmeg a{color: #155724; font-weight: bold;}
#apiconinfo {font-size: 15px;}
.alert-danger{color: #721c24; background-color: #f8d7da;  position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem; border:solid 1px #f5c6cb; border-radius: .25rem}
.alert-success{color: #155724; background-color: #d4edda;  position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem; border:solid 1px #c3e6cb; border-radius: .25rem}
.alert-success a{color: #155724; font-weight: bold;}
.alert-primary{color: #004085;background-color: #cce5ff;   position: relative;padding: .75rem 1.25rem;margin-bottom: 1rem; border:solid 1px #b8daff; border-radius: .25rem; min-width: 578px; display: inline-block;}
.alert-primary a{ text-decoration: none }

.form_setting{ width: 99%; background: #fff; padding: 15px; border:solid 1px #ddd; display: inline-block; box-sizing: border-box; margin-top: 15px; }
.form-table th{ color: #666; }
.form_setting input[type="text"]{min-width:400px; height: 34px; border-radius: 0px; box-shadow: none; border-color: }

.form_setting .sr_stng_tbl {border:none;  }
.form_setting .sr_stng_tbl thead tr th{ background: none; border-bottom: solid 2px #337AB7; color: #666 }
.form_setting .sr_stng_tbl tbody tr td{ background: none; border-bottom: solid 1px #eee!important; box-shadow: none; vertical-align: middle; }
.form_setting .sr_stng_tbl tbody tr td  input[type="text"]{min-width:250px; height: 34px; border-radius: 5px; box-shadow: none; background: #f2f2f2; font-style: italic;}
.form_setting .sr_stng_tbl tbody tr td.list_name a{ font-size: 18px!important; font-weight: 600 }
.form_setting .sr_stng_tbl tbody tr td.list_name i{margin-left: 5px; font-size: 15px; vertical-align: middle; color: #666}
.form_setting .sr_stng_tbl tbody tr td .subscriber_count{ background: #ffc107; color: #fff; border-radius: 20px; min-width: 25px; height: 25px; line-height: 25px; text-align: center; display: inline-block; vertical-align: middle; }
.form_setting .sr_stng_tbl tbody tr td strong.inactive{ background: #868e96; color: #fff!important; display: inline-block; font-weight: normal; font-size: 12px; padding: 2px 10px; border-radius: 20px; }
.form_setting .sr_stng_tbl tbody tr td strong.active{ background: #28a745; color: #fff!important; display: inline-block; font-weight: normal; font-size: 12px; padding: 2px 10px; border-radius: 20px; }
.status_tooltip{ display: none; position: absolute; left: -70px; bottom: -48px; z-index: 222;  width: 200px; background: #eee; border:solid 1px #ddd; padding: 10px; border-radius: 5px; }
.form_setting .sr_stng_tbl tbody tr td .inactive_infoswe{ position: relative; }
.form_setting .sr_stng_tbl tbody tr td .inactive_infoswe:hover .status_tooltip{ display: block; }

.edit_form_setting { width: 1000px; }
.edit_form_setting tbody tr th{ padding: 15px 10px; vertical-align: middle;  }
.edit_form_setting tbody tr td{padding:15px 10px; vertical-align: middle;}
.edit_form_setting tbody tr td span em{margin-left: 10px; font-size: 12px;}
.edit_form_setting tbody tr { border: solid 1px #eee;}
.checkbox-inline{padding-top: 10px; display: inline-block; margin-right: 10px; font-size: 12px; color: #666}


.information-sarv{border: 1px solid #ddd; padding: 15px; width: 90%; margin: 30px 0 20px 0; background: #f2f2f2; border-radius: 5px; }
.information-sarv h3{ margin-top: 10px; color: #337AB7 }
.information-sarv .popdown .message{margin-bottom:15px; font-size: 16px; font-style: italic; display: block; }
.information-sarv .popdown a.linkbg{ background: #337AB7; color: #fff; border-radius: 4px; padding: 5px 10px; text-decoration: none; display: inline-block; }

.sr_stng_tbl{ margin-top: 30px; table-layout: auto!important; }
.sr_stng_tbl thead tr th{ background: #eee; }  
.sr_stng_tbl tbody tr th.sno { width: 70px!important;  }

#wpbody-content{padding-bottom: 0px!important}

.ui-sortable-helper{ border:dashed 2px #ddd!important;  box-shadow: 2px 2px 5px #ddd; } 

.sub_headingsd{ background: #f2f2f2; font-size: 14px!important;   padding: 10px; border:solid 1px #b8daff; color: #004085 }
.sub_headingsd b{ font-weight: bold; }

.inactive{color: #721c24 !important;}
.active{color: #155724 !important;}

.step_row{ list-style: none; margin: 0px 0px 15px; padding: 0px; position: relative;}
.step_row:after{ position: absolute; width: 5px; height: 85%; background: #FFA500; left: 10px; top: 13px; content: ""; border-radius: 5px; z-index: 0 }
.step_row li{ display: inline-block; width: 100%; float: none; margin-top: 10px; z-index: 2; position: relative;}
.step_row li span{ display: inline-block; width: 25px; height: 25px; position: relative; color:#fff; border-radius:50%; background: #FFA500; text-align: center; line-height: 25px; margin-right: 10px; vertical-align: middle; }