.form-group{ display: inline-block; width: 100%; margin-bottom: 20px; }
.form-group label{ display: block; padding-bottom: 10px; }
.form-group input[type="text"], .form-group input[type="email"],.form-group input[type="number"],.form-group input[type="url"],.form-group input[type="float"],.form-group input[type="date"]{ width: 100%; }

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: .25rem;
}

